In [2]:
# 데이터마님 1유형 01
# https://www.datamanim.com/dataset/03_dataq/typeone.html
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv",index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

In [20]:
df.columns

Index(['title', 'channelTitle', 'categoryId', 'view_count', 'likes',
       'dislikes', 'comment_count', 'channelId', 'trending_date2'],
      dtype='object')

## 1유형-01 [Try 코드]

In [ ]:
# 인기 동영상 제작횟수가 많은 채널 상위 10개명을 출력하라 (날짜기준, 중복포함)

# 1. 날짜 기준 정렬
df.sort_values('trending_date2', ascending = False, inplace = True)
# 2. 채널명 개수 세서, 상위 10개 추출
top10_channel = df[df['channelTitle'].value_counts().head(10)]
# 3. 채널명만 리스트로 출력
top10_channel_list = top10_channel['channelTitle'].unique().tolist()
top10_channel_list

<틀린 부분>
- channel_ID 기준.
- value_counts().head()는 Series로 출력되어 바로 df[] 필터를 사용할 수 없음
채널명은 index, 카운트값은 value 로 출력됨.
채널명인 index로만 필터해야함.

## 1유형-01 [Answer 코드]

In [31]:
# 1. 날짜 기준으로 정렬
df.sort_values('trending_date2', ascending = True, inplace = True)
# 2. 채널 id 기준으로 개수 세서, 상위 10개 뽑기, 해당되는 행만 필터링
channel_counts = df['channelId'].value_counts().head(10)
top10_channel = df[df['channelId'].isin(channel_counts.index)]
# 3. 채널명만 중복 없이 리스트로 출력
top10_channel['channelTitle'].unique().tolist()

['장삐쭈',
 '파뿌리',
 '짤툰',
 '총몇명',
 '엠뚜루마뚜루 : MBC 공식 종합 채널',
 '런닝맨 - 스브스 공식 채널',
 'SPOTV',
 '채널 십오야',
 '이과장',
 'BANGTANTV']

In [52]:
df.sort_values('trending_date2', ascending = True, inplace = True)

df_topID = df['channelId'].value_counts().head(10).index
df_toptitle = df[df['channelId'].isin(df_topID)]
df_toptitle['channelTitle'].unique().tolist()

['장삐쭈',
 '런닝맨 - 스브스 공식 채널',
 '짤툰',
 '총몇명',
 '파뿌리',
 '엠뚜루마뚜루 : MBC 공식 종합 채널',
 'SPOTV',
 '채널 십오야',
 '이과장',
 'BANGTANTV']

## 1유형-02 [Try 코드] [정답!]

채널명을 바꾼 케이스가 있는지 확인하고 싶다. channelId의 경우 고유값이므로 이를 통해 채널명을 한번이라도 바꾼 채널의 갯수를 구하여라

In [60]:
# 1. channelId 기준 그룹화해서 channelTitle 유니크값이 2개 이상인 것만 필터링
df_grouped = df.groupby('channelId')['channelTitle'].nunique()
df_grouped = df_grouped[df_grouped > 1]
len(df_grouped)

71

In [61]:
# 모범 답안
change = df[['channelTitle','channelId']].drop_duplicates().channelId.value_counts()
target = change[change>1]
print(len(target))

71

## 1유형-03 [Try 코드]

일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?

In [81]:
# trending_date2에서 무슨 요일인지로 변경해서 변수 생성. '일요일'인 행만 필터링
 # 날짜형식 변경
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
 # 요일 추출
df['dayname'] = df['trending_date2'].dt.day_name()
df.head()
 # '일요일'인 행만 필터링
df_Sun = df[df['dayname'] =='Sunday']

# 그 중 likes가 가장 높은 행의 categoryId를 출력
df_Sun_like = df_Sun.sort_values('likes', ascending = False).head(1)
df_Sun_like['categoryId'].values[0]

np.int64(10)

- 문제 이해 잘못.. 가장 좋아요 많은게 아니라 가장 많은 categoryID를 추출하는거임.

## 1유형-03 [정답 코드]

In [86]:
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
df['dayname'] = df['trending_date2'].dt.day_name()

df_Sun = df[df['dayname'] == 'Sunday']
answer = df_Sun['categoryId'].value_counts().head(1).index[0]
answer

np.int64(24)

In [3]:
# -04. 일요일에 인기있었던 영상들중 가장많은 영상 종류(categoryId)는 무엇인가?
df['trending_date2'] = pd.to_datetime(df['trending_date2'])

df['day'] = df['trending_date2'].dt.day_name()
df_Sun = df[df['day'] == 'Sunday']
df_Sun['categoryId'].value_counts().head(1).index[0]

np.int64(24)

In [5]:
# -05. 각 요일별 인기 영상들의 categoryId는 각각 몇개 씩인지 하나의 데이터 프레임으로 표현하라
df['trending_date2'] = pd.to_datetime(df['trending_date2'])
df['trending_date2'] = df['trending_date2'].dt.day_name()
group = df.groupby(['trending_date2','categoryId']).size().reset_index(name = 'size')
group.pivot(index = 'categoryId', columns = 'trending_date2')

C:\Users\jee36\AppData\Local\Temp\ipykernel_36696\3576755677.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['trending_date2'] = pd.to_datetime(df['trending_date2'])

DateParseError: Unable to parse datetime string: Friday, at position 0

In [6]:
# Question 6. 댓글의 수로(comment_count) 영상 반응에 대한 판단을 할 수 있다.
# viewcount대비 댓글수가 가장 높은 영상을 확인하라 (view_count값이 0인 경우는 제외한다)

# 1. view_count 값이 0이 아닌 행만 필터링
df2 = df.copy()
df2 = df2[df2['view_count']!= 0]
# 2. comment_count / view_count 구해서 변수 생성
df2[['comment_count', 'view_count']] = df2[['comment_count', 'view_count']].astype(int)
df2['ratio'] = df2['comment_count'] / df2['view_count']
answer = df2.sort_values(by = 'ratio', ascending = False).head(1).title
answer.values[0]

'60분 동안 댓글이 달리지 않으면, 영상이 삭제됩니다. (챌린지)'

In [7]:
# Question 7. 댓글의 수로 (comment_count) 영상 반응에 대한 판단을 할 수 있다.
# viewcount대비 댓글수가 가장 낮은 영상을 확인하라 (view_counts, ratio값이 0인경우는 제외한다.)

df3 = df.copy()
df3['ratio'] = df3['comment_count'] / df3['view_count']
df3 = df3[df3['ratio'] != 0]
answer = df3.sort_values(by = 'ratio', ascending = True).head(1).title
answer.values[0]

'Join the BTS #PermissiontoDance Challenge only on YouTube #Shorts'

In [ ]:
# Question 8

# like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)

In [ ]:
df2 = df.copy()
df2 = df2[(df2['likes'] !=0) & (df2['dislikes'] !=0)]
df2['ratio'] = df2['dislikes'] / df2['likes']

⭐ 오류 체크

괄호 ( )를 안할 경우 다음과 같은 오류가 남. 왜냐, '&'가 '!=' 보다 우선순위가 낮아서 다른 순서로 계산됨.

ValueError: The truth value of a Series is ambiguous.
'&' 대신 'and'를 사용할 수 없음. 왜냐, '&' 연산자는 각 조건의 결과가 Series일 때 원소 단위로 AND 연산을 해주고, 'and, or' 등은 단일값일 때 사용할 수 있음


df2['ratio'] = df2['ratio'].sort_values() 이렇게 하면 df['ratio']만 정렬되므로, df2 전체가 정렬될 수 있도록 df2 = df2.sort_values('ratio') 이걸로 해야함

In [ ]:
df2 = df2.sort_values(by = 'ratio', ascending = True)
answer = df2['title'].head(1)
answer.values[0]

:Question 9

가장많은 트렌드 영상을 제작한 채널의 이름은 무엇인가? (날짜기준, 중복포함)

In [ ]:
# channelTitle 별 그룹화하고, trending date2 개수 카운트
group = df2.groupby(by = 'channelTitle', as_index = False)['trending_date2'].nunique().sort_values(by ='trending_date2', ascending = False)
group['channelTitle'].iloc[0]

Question 10

20회(20일)이상 인기동영상 리스트에 포함된 동영상의 숫자는?

In [ ]:
# title 기준 그룹화하고, trending date nuique 값이 20 이상인 필터링, len() 개수 세기
group = df2.groupby(by = ['title', 'channelId'], as_index = False)['trending_date2'].nunique()
len(group['trending_date2'] >= 20)

⭐ 오류 체크

여러개 항목 기준으로 그룹화 하려면 by = ['항목1', '항목2'] []로 활용
중복을 포함하지 않는 경우를 구할려면 nunique()이고, 중복 포함하여 20개 이상인 것만 보려면 value_counts
그리고 len()만 쓸 경우 전체 데이터 숫자를 세게됨. 설정한 조건이 True인 것만 세려면 count한거의 sum()을 사용해야함.

In [ ]:
# 정답
df2 = df.copy()

# title,channelId 기준 그룹화하고, trending date nuique 값이 20 이상인 필터링, len() 개수 세기
answer = (df2[['title','channelId']].value_counts() >=20).sum()
print(answer)