In [1]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/Datamanim/datarepo/main/youtube/youtube.csv", index_col=0)
df.head()

,title,channelTitle,categoryId,view_count,likes,dislikes,comment_count,channelId,trending_date2
0,[신병] 물자창고,장삐쭈,23,1893473,38249,730,8595,UChbE5OZQ6dRHECsX0tEPEZQ,2021-01-01
1,RAIN(비) - 나로 바꾸자 Switch to me (duet with JYP) MV,RAIN's Official Channel,10,2600864,0,0,20129,UCxXgIeE5hxWxHG6dz9Scg2w,2021-01-01
2,2020년 제야의 종 온라인 타종행사 | 보신각 현장 행사는 진행하지 않습니다.,서울시 · Seoul,29,347049,3564,120,178,UCZUPZW5idAxYp-Asj__lVAA,2021-01-01
3,고기남자의 칠면조 파티,고기남자 MeatMan,26,528458,15372,280,3470,UCT3CumbFIJiW33uq0UI3zlg,2021-01-01
4,골목 3mc를 분노하게 만든 마음고생이 심했을 공릉 백반집 사장님의 푸념?! [예능...,스브스밥집,24,494904,3918,111,3142,UCdWgRSfttvDucq4ApcCg5Mw,2021-01-01

Question 8

like 대비 dislike의 수가 가장 적은 영상은 무엇인가? (like, dislike 값이 0인경우는 제외한다)

In [2]:
df2 = df.copy()
df2 = df2[(df2['likes'] !=0) & (df2['dislikes'] !=0)]
df2['ratio'] = df2['dislikes'] / df2['likes']

⭐ 오류 체크

괄호 ( )를 안할 경우 다음과 같은 오류가 남. 왜냐, '&'가 '!=' 보다 우선순위가 낮아서 다른 순서로 계산됨.

ValueError: The truth value of a Series is ambiguous.
'&' 대신 'and'를 사용할 수 없음. 왜냐, '&' 연산자는 각 조건의 결과가 Series일 때 원소 단위로 AND 연산을 해주고, 'and, or' 등은 단일값일 때 사용할 수 있음

In [3]:
df2 = df2.sort_values(by = 'ratio', ascending = True)
answer = df2['title'].head(1)
answer.values[0]

'[줌터뷰] *최초공개* 사부작즈🐰🐶의 비공식 이름은 아이라인즈? 꿀조합 티키타카 가득한 NCT 127 도영&정우의 줌터뷰'

⭐ 오류 체크

df2['ratio'] = df2['ratio'].sort_values() 이렇게 하면 df['ratio']만 정렬되므로, df2 전체가 정렬될 수 있도록 df2 = df2.sort_values('ratio') 이걸로 해야함