In [ ]:
# SAS 직접 테이블 생성법
## $ 표시는 문자 변수명 뒤에 한칸 띄우고 붙이고, 숫자는 변수명만.

DATA TEST;
INPUT NAME $ AGE SEX $;
CARDS;
OK 1 남
YOU 2 녀;
RUN;

DATA TEST;
INPUT NAME: $12. AGE SEX $; # 기본은 8글자, $12.는 12글자까지 가능
CARDS;
OK 1 남
YOU 2 녀
호날두화이팅 3 남;
RUN;